{% extends 'base.html' %}

{% block title %}URL success{% endblock %}

{% block main %}

  <section class="section">
    <div class="container">
            <div class="field">
                <label class="label">Original URL</label>
                <div class="control">
			<a href="{{ original_url }}">{{ original_url }}</a>
                </div>
            </div>
            <div class="field">
                    <label class="label">New URL</label>
                    <div class="control">
                        <!--input class="input" type="text" name="original_url" value="{{ url_for('redirect_to_url', short_url=new_link, _external=True) }}"-->
			<a href="{{ url_for('redirect_to_url', short_url=new_link, _external=True) }}" target="_blank">{{ host_url }}{{ new_link }}</a>
                    </div>
            </div>
    </div>
  </section>
  {% endblock %}

